extends layout

block content
  div.panel.panel-default
    div.panel-body
      p= "To begin using Code-dozr, open a new editor. Then, either create a new document by entering your email address and giving the document a name, or enter the email address of the person that invited you and the document name they provide. Then, start editing code together!"