extends layout

block content

  <link rel="stylesheet" href="codemirror/lib/codemirror.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="codemirror/theme/paraiso-dark.css" type="text/css">

  <textarea id='pad' autofocus>Connecting...</textarea>

  <script src="share.uncompressed.js"></script>
  <script src="codemirror/lib/codemirror.js"></script>
  <script src="share-codemirror.js"></script>
  <script src="codemirror/mode/javascript/javascript.js" type="text/javascript" charset="utf-8"></script>

  <script>
  - var cm = CodeMirror.fromTextArea( document.getElementById('pad') )
  - cm.setOption('mode', 'javascript');
  - cm.setOption('lineNumbers', true);
  - cm.setOption('theme', 'paraiso-dark')

  - var elem = document.getElementById('pad');

  - var ws = new WebSocket('ws://' + window.location.host );

  - var sjs = new window.sharejs.Connection( ws );

  - var doc = sjs.get( 'users', 'codeDozr' );

  - doc.subscribe();

  - doc.whenReady(function () {
    - if (!doc.type) doc.create('text');
    - if (doc.type && doc.type.name === 'text')
    - doc.attachCodeMirror(cm);
  - });

  </script>
