<style>
    #pad {
        width: 100%;
        height: 100%;
        font-size: 20px;
        font-family: monaco;
        background: -webkit-canvas(cursors);
        background-repeat: no-repeat;
    }
    .CodeMirror {
        margin: 20px;
        border: 1px solid #eee;
        height: 80vh ! important;
    }
</style>

<link rel="stylesheet" href="codemirror/lib/codemirror.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="codemirror/theme/paraiso-dark.css" type="text/css">

<h3>Editor</h3>

<div class="row" id="file-form">
    <div class="col-lg-4">
        <input type="text" id="invitation-email" class="form-control" placeholder="Invitation email">
    </div>
    <div class="col-lg-4">
        <div class="input-group">
            <input type="text" id="file-name" class="form-control" placeholder="File name">
            <span class="input-group-btn">
                <button id="create-file" class="btn btn-default" type="button">Create/Connect</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>

<textarea id='pad' autofocus style="display: none;">Connecting...</textarea>

<div class="row" id="new-button" style="display: none;">
    <button id="create-new" class="btn btn-default">Create new file</button>
</div>

<script src="share.uncompressed.js"></script>
<script src="codemirror/lib/codemirror.js"></script>
<script src="share-codemirror.js"></script>
<script src="codemirror/mode/javascript/javascript.js" type="text/javascript" charset="utf-8"></script>

<script>

    $('#create-file').on('click', function(event) {
        var invite = $('#invitation-email').val();
        var fileName = $('#file-name').val();
        var combined = '';
        var email = localStorage.getItem("email");
        if (invite) {
            combined = invite + fileName;
        } else {
            console.log(email);
            combined = email + fileName;
        }
        $('#file-form').toggle();
        $('#pad').toggle();
        $('#new-button').toggle();
        createEditor(combined);
    });

    $('#create-new').on('click', function(event) {
        location.reload();
    })

    var createEditor = function(fileName) {
        var cm = CodeMirror.fromTextArea( document.getElementById('pad') )
        cm.setOption('mode', 'javascript');
        cm.setOption('lineNumbers', true);
        cm.setOption('theme', 'paraiso-dark')
        //cm.setMode('javascript')

        var elem = document.getElementById('pad');

        var ws = new WebSocket('ws://' + window.location.host );

        var sjs = new window.sharejs.Connection( ws );

        var doc = sjs.get( 'users', fileName );

        doc.subscribe();

        doc.whenReady(function () {
            if (!doc.type) doc.create('text');
            if (doc.type && doc.type.name === 'text')
                doc.attachCodeMirror(cm);
        });
    }

</script>
