div.container 
  nav(class="navbar navbar-default")
    div.navbar-header
      div.navbar-brand
        a(href='/') Collaborative Code Editor
    ul(class="nav nav-tabs")
      li
        a(href='/editor') Editor

